BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
SortIncludes: Never
PointerAlignment: Right
CommentPragmas: '^go:build'
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
