Source: go-mesi
Section: utils
Priority: optional
Maintainer: Piotr Halas <halaspiotr@gmail.com   >
Build-Depends: debhelper-compat (=13), golang-go, dh-golang
Standards-Version: 4.6.0
Homepage: https://github.com/crazy-goat/go-mesi
Rules-Requires-Root: no

Package: go-mesi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight implementation of Edge Side Includes (ESI) in Golang

Package: libgomesi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared library for go-mesi functionalities

Package: libgomesi-dev
Architecture: any
Multi-Arch: same
Depends: libgomesi (= ${binary:Version}), ${misc:Depends}
Description: Development files for libgomesi