#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=optimize=-lto
export GO111MODULE=on
export GOPROXY=https://proxy.golang.org,direct

%:
	dh $@

override_dh_auto_build:
	go mod tidy
	go mod download
	make build-cli
	make build-libgomesi
